# Ignore everything
*
# Unignore some

# folders
!*/
build
test
experiment
*.del

# documents
!*.md
!*.png
!*.html

# build files
!bootstrap.sh
!configure.ac
!Makefile.am
!reset
!version
!CMakeLists.txt
!*.cmake
!*.cmake.in
!*.pc.in
!*.spec.in

# source files
!*.h.in
!*.h
!*.c
!*.cpp

# config files
!*.cfg
test.cfg

# git files
!.gitignore


defines.h
